.headline {
  color: red;
  font-size: 48px;
  line-height: 1.2;
  background-color: #ccc;
}

.wrapper {
  background-color:bisque;
}

/* .wrapper > .subheadline - bezposrednim dzieckiem bedzie element z klasa subheadline */
/* .wrapper .subheadline - wszystkie elementy które posiadaja klase subheadline */
.wrapper > .subheadline {
  color: blue;
  font-size: 32px;
  line-height: 1.2;
}

.wrapper > .content {
  color: #9a4545;
  font-size: 20px;
  line-height: 1.2;
}

.primary-btn {
  display: block;
  margin: 10px auto;
  transition: transform 0.5s, background-color 0.5s;
}

.primary-btn:hover {
  background-color: red;
  transform: scale(2);
}

.flexbox {
  display: flex;
}

.input-label {
/* sposób I na wyśrodkowwanie elementu  */
  margin: 0 auto;
  display: block;
  max-width: 300px;
  /* II sposób flexbox - zerknij gierke */
  /* III sposób grid - zerknij gierke */

}